.container {
    max-width: 768px;
    margin: 0 auto;

}

.title {

    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(39, 29, 225);

}

.title__color {
    color: rgb(17, 150, 245);
}

.subtitle {
    margin-bottom: 15px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(39, 29, 225);
}